<div style="height: 100%; display: flex; flex-direction: column; align-items: stretch;">
  <div style="display: flex; flex-direction: row; width: 100%; flex-grow: 1; display: flex; align-items: center; justify-content: center;">
    <div style="flex: 1;">
    </div>
    <div style="flex: 8; color: orange; align-items: center; justify-content: center; text-align: center; font-size: 24px; font-weight: 700;">
      abc
    </div>
    <div style="flex: 1">
    </div>
  </div>
  <div style="display: flex; flex-direction: row; width: 100%; flex-shrink: 0;">
    <div style="flex: 1;">
    </div>
    <div style="flex: 4; display: flex; align-items: center; justify-content: center;" *ngIf="isPaused || isReset">
      <button (click)="start()">Start</button>
    </div>
    <div style="flex: 4; display: flex; align-items: center; justify-content: center;" *ngIf="!isPaused && !isReset">
      <button (click)="pause()">Pause</button>
    </div>
    <div style="flex: 4; display: flex; align-items: center; justify-content: center;" *ngIf="isPaused && !isReset">
      <button (click)="reset()">Reset</button>
    </div>
    <div style="flex: 1">
    </div>
  </div>
</div>
