<div class="container">
  <div class="timerContainer">
    <div style="flex: 1;">
    </div>
    <div class="timer">
      {{unitToDisplayString(hours)}}:{{unitToDisplayString(minutes)}}:{{unitToDisplayString(seconds)}}:{{unitToDisplayString(nms)}}
    </div>
    <div style="flex: 1">
    </div>
  </div>
  <div class="buttonsContainer">
    <div style="flex: 1;">
    </div>
    <div class="buttonSlot" *ngIf="isPaused || isReset">
      <button (click)="start()">Start</button>
    </div>
    <div class="buttonSlot" *ngIf="!isPaused && !isReset">
      <button (click)="pause()">Pause</button>
    </div>
    <div class="buttonSlot" *ngIf="isPaused && !isReset">
      <button (click)="reset()">Reset</button>
    </div>
    <div style="flex: 1">
    </div>
  </div>
</div>
